In [14]:
import pandas as pd,numpy as np
from scipy import stats

In [2]:
df = pd.read_csv('../0. Dataset/Training set after splitting.csv')

In [11]:
df.head()

,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,PercChangeMinutes,PercChangeRevenues,DroppedCalls,BlockedCalls,...,OwnsMotorcycle,AdjustmentsToCreditRating,HandsetPrice,MadeCallToRetentionTeam,CreditRating,PrizmCode,Occupation,MaritalStatus,Churn,MaritalStatus
0,39.79,234.0,55.0,0.25,0.0,1.7,31.0,8.8,6.7,0.7,...,0,0,NaN,0,2-High,Suburban,Other,Unknown,0,NaN
1,60.19,551.0,60.0,0.74,0.0,0.3,-88.0,-10.2,2.7,32.7,...,0,0,150,0,2-High,Suburban,Crafts,Yes,0,Yes
2,85.41,642.0,28.0,0.25,134.0,0.0,129.0,22.8,29.7,0.0,...,0,0,NaN,0,2-High,Suburban,Crafts,No,0,No
3,30.18,281.0,30.0,0.00,0.0,0.0,132.0,-0.2,4.0,0.0,...,0,0,150,0,3-Good,Suburban,Other,Unknown,1,NaN
4,179.29,1459.0,95.0,0.50,118.0,48.6,-1360.0,-77.0,21.7,11.0,...,0,0,NaN,0,3-Good,Rural,Other,Unknown,1,NaN

Remove outliers, standarize monthly revenue, monthly

In [5]:
df.duplicated().sum()

0

In [8]:
df.dtypes

MonthlyRevenue               float64
MonthlyMinutes               float64
TotalRecurringCharge         float64
DirectorAssistedCalls        float64
OverageMinutes               float64
RoamingCalls                 float64
PercChangeMinutes            float64
PercChangeRevenues           float64
DroppedCalls                 float64
BlockedCalls                 float64
UnansweredCalls              float64
CustomerCareCalls            float64
ThreewayCalls                float64
ReceivedCalls                float64
OutboundCalls                float64
InboundCalls                 float64
PeakCallsInOut               float64
OffPeakCallsInOut            float64
DroppedBlockedCalls          float64
CallForwardingCalls          float64
CallWaitingCalls             float64
MonthsInService                int64
UniqueSubs                     int64
ActiveSubs                     int64
ServiceArea                   object
Handsets                     float64
HandsetModels                float64
CurrentEquipmentDays         float64
AgeHH1                       float64
AgeHH2                       float64
ChildrenInHH                   int64
HandsetRefurbished             int64
HandsetWebCapable              int64
TruckOwner                     int64
RVOwner                        int64
Homeownership                  int64
BuysViaMailOrder               int64
RespondsToMailOffers           int64
OptOutMailings                 int64
NonUSTravel                    int64
OwnsComputer                   int64
HasCreditCard                  int64
RetentionCalls                 int64
RetentionOffersAccepted        int64
NewCellphoneUser               int64
NotNewCellphoneUser            int64
ReferralsMadeBySubscriber      int64
IncomeGroup                    int64
OwnsMotorcycle                 int64
AdjustmentsToCreditRating      int64
HandsetPrice                  object
MadeCallToRetentionTeam        int64
CreditRating                  object
PrizmCode                     object
Occupation                    object
MaritalStatus                 object
Churn                          int64
MaritalStatus                 object
dtype: object

In [9]:
df.isna().sum()

MonthlyRevenue                 120
MonthlyMinutes                 120
TotalRecurringCharge           120
DirectorAssistedCalls          120
OverageMinutes                 120
RoamingCalls                   120
PercChangeMinutes              290
PercChangeRevenues             290
DroppedCalls                     0
BlockedCalls                     0
UnansweredCalls                  0
CustomerCareCalls                0
ThreewayCalls                    0
ReceivedCalls                    0
OutboundCalls                    0
InboundCalls                     0
PeakCallsInOut                   0
OffPeakCallsInOut                0
DroppedBlockedCalls              0
CallForwardingCalls              0
CallWaitingCalls                 0
MonthsInService                  0
UniqueSubs                       0
ActiveSubs                       0
ServiceArea                     21
Handsets                         1
HandsetModels                    1
CurrentEquipmentDays             1
AgeHH1                         716
AgeHH2                         716
ChildrenInHH                     0
HandsetRefurbished               0
HandsetWebCapable                0
TruckOwner                       0
RVOwner                          0
Homeownership                    0
BuysViaMailOrder                 0
RespondsToMailOffers             0
OptOutMailings                   0
NonUSTravel                      0
OwnsComputer                     0
HasCreditCard                    0
RetentionCalls                   0
RetentionOffersAccepted          0
NewCellphoneUser                 0
NotNewCellphoneUser              0
ReferralsMadeBySubscriber        0
IncomeGroup                      0
OwnsMotorcycle                   0
AdjustmentsToCreditRating        0
HandsetPrice                 23214
MadeCallToRetentionTeam          0
CreditRating                     0
PrizmCode                        0
Occupation                       0
MaritalStatus                    0
Churn                            0
MaritalStatus                15752
dtype: int64

In [17]:
df.drop(columns=['CustomerID'],axis=1,inplace=True)
yes_no_features = ['Churn','ChildrenInHH','HandsetRefurbished','HandsetWebCapable','TruckOwner','RVOwner','BuysViaMailOrder',
     'RespondsToMailOffers','OptOutMailings','NonUSTravel','OwnsComputer','HasCreditCard','NewCellphoneUser','NotNewCellphoneUser',
     'OwnsMotorcycle','MadeCallToRetentionTeam']
for feature in yes_no_features:
    df[feature] = [1 if value == 'Yes' else 0 for value in df[feature]]
df['Homeownership'] = [1 if value == 'Known' else 0 for value in df['Homeownership']]
df['HandsetPrice'] = df['HandsetPrice'].replace('Unknown', np.nan)
df['MaritalStatus'] = df['MaritalStatus'].replace('Unknown', np.nan)

In [16]:
df

,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,PercChangeMinutes,PercChangeRevenues,DroppedCalls,BlockedCalls,...,IncomeGroup,OwnsMotorcycle,AdjustmentsToCreditRating,HandsetPrice,MadeCallToRetentionTeam,CreditRating,PrizmCode,Occupation,MaritalStatus,Churn
0,39.79,234.0,55.0,0.25,0.0,1.7,31.0,8.8,6.7,0.7,...,0,0,0,NaN,0,2-High,Suburban,Other,NaN,0
1,60.19,551.0,60.0,0.74,0.0,0.3,-88.0,-10.2,2.7,32.7,...,7,0,0,150,0,2-High,Suburban,Crafts,Yes,0
2,85.41,642.0,28.0,0.25,134.0,0.0,129.0,22.8,29.7,0.0,...,4,0,0,NaN,0,2-High,Suburban,Crafts,No,0
3,30.18,281.0,30.0,0.00,0.0,0.0,132.0,-0.2,4.0,0.0,...,3,0,0,150,0,3-Good,Suburban,Other,NaN,1
4,179.29,1459.0,95.0,0.50,118.0,48.6,-1360.0,-77.0,21.7,11.0,...,4,0,0,NaN,0,3-Good,Rural,Other,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40832,19.36,18.0,17.0,0.00,0.0,4.5,-18.0,-9.4,0.0,0.0,...,4,0,0,NaN,0,1-Highest,Town,Professional,Yes,1
40833,50.30,140.0,50.0,0.00,0.0,0.0,-77.0,-0.3,1.3,3.0,...,6,0,0,NaN,0,1-Highest,Suburban,Professional,Yes,0
40834,15.73,713.0,10.0,1.73,0.0,0.0,-143.0,0.2,4.0,55.0,...,0,0,0,NaN,0,3-Good,Suburban,Other,NaN,1
40835,80.69,504.0,50.0,0.00,77.0,0.0,48.0,-30.7,1.7,0.7,...,6,0,0,NaN,0,4-Medium,Suburban,Other,No,0
40836,112.30,452.0,60.0,1.73,0.0,60.6,8.0,-60.3,5.3,6.0,...,9,0,0,NaN,0,1-Highest,Town,Other,Yes,0

In [12]:
df

,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,PercChangeMinutes,PercChangeRevenues,DroppedCalls,BlockedCalls,...,OwnsMotorcycle,AdjustmentsToCreditRating,HandsetPrice,MadeCallToRetentionTeam,CreditRating,PrizmCode,Occupation,MaritalStatus,Churn,MaritalStatus
0,39.79,234.0,55.0,0.25,0.0,1.7,31.0,8.8,6.7,0.7,...,0,0,NaN,0,2-High,Suburban,Other,Unknown,0,NaN
1,60.19,551.0,60.0,0.74,0.0,0.3,-88.0,-10.2,2.7,32.7,...,0,0,150,0,2-High,Suburban,Crafts,Yes,0,Yes
2,85.41,642.0,28.0,0.25,134.0,0.0,129.0,22.8,29.7,0.0,...,0,0,NaN,0,2-High,Suburban,Crafts,No,0,No
3,30.18,281.0,30.0,0.00,0.0,0.0,132.0,-0.2,4.0,0.0,...,0,0,150,0,3-Good,Suburban,Other,Unknown,1,NaN
4,179.29,1459.0,95.0,0.50,118.0,48.6,-1360.0,-77.0,21.7,11.0,...,0,0,NaN,0,3-Good,Rural,Other,Unknown,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40832,19.36,18.0,17.0,0.00,0.0,4.5,-18.0,-9.4,0.0,0.0,...,0,0,NaN,0,1-Highest,Town,Professional,Yes,1,Yes
40833,50.30,140.0,50.0,0.00,0.0,0.0,-77.0,-0.3,1.3,3.0,...,0,0,NaN,0,1-Highest,Suburban,Professional,Yes,0,Yes
40834,15.73,713.0,10.0,1.73,0.0,0.0,-143.0,0.2,4.0,55.0,...,0,0,NaN,0,3-Good,Suburban,Other,Unknown,1,NaN
40835,80.69,504.0,50.0,0.00,77.0,0.0,48.0,-30.7,1.7,0.7,...,0,0,NaN,0,4-Medium,Suburban,Other,No,0,No
40836,112.30,452.0,60.0,1.73,0.0,60.6,8.0,-60.3,5.3,6.0,...,0,0,NaN,0,1-Highest,Town,Other,Yes,0,Yes

In [10]:
prizmCodeKeep = ['Suburban','Town']
creditRatingKeep = ['2-High','1-Highest','3-Good','5-Low']

In [3]:
(df['PrizmCode'].value_counts()/df.shape[0])*100

Other       48.340965
Suburban    32.181600
Town        14.785611
Rural        4.691824
Name: PrizmCode, dtype: float64

In [9]:
(df['Occupation'].value_counts()/df.shape[0])*100

Other           73.754194
Professional    17.143767
Crafts           2.943409
Clerical         1.944315
Self             1.694542
Retired          1.444768
Student          0.744423
Homemaker        0.330583
Name: Occupation, dtype: float64

In [20]:
(df['CreditRating'].value_counts()/df.shape[0])*100

2-High       37.186865
1-Highest    16.710336
3-Good       16.438524
5-Low        12.750692
4-Medium     10.595783
7-Lowest      4.104121
6-VeryLow     2.213679
Name: CreditRating, dtype: float64

In [21]:
(df['HandsetPrice'].value_counts()/df.shape[0])*100

30     14.384014
150     7.995200
130     4.079634
80      3.851899
10      3.739256
60      3.501726
200     2.480594
100     2.414477
40      0.497098
400     0.090604
250     0.044078
300     0.024488
180     0.022039
500     0.017141
240     0.012244
Name: HandsetPrice, dtype: float64

In [32]:
def remove_outliers_using_IQR(df,column):
    first_quartile, third_quartile = np.percentile(df[column],25), np.percentile(df[column],75)
    IQR = third_quartile - first_quartile
    floor = first_quartile - 1.5 * IQR
    cieling = third_quartile + 1.5 * IQR
    outlier_mask = (df[column]>= floor) & (df[column] <= cieling)
    print()
    df =

120

In [47]:
column = 'BlockedCalls'
first_quartile, third_quartile = np.percentile(df[column],25), np.percentile(df[column],75)
IQR = third_quartile - first_quartile
floor = first_quartile - 1.5 * IQR
cieling = third_quartile + 1.5 * IQR
outlier_mask = (df[column] < floor) | (df[column] > cieling)
print(df[~outlier_mask][column].unique())

[0.7 0.  2.  5.7 6.7 7.3 0.3 3.  4.7 3.7 5.  9.  1.  1.7 7.  1.3 5.3 4.
 3.3 4.3 2.7 2.3 6.  8.7 8.  6.3 7.7 8.3]

In [44]:
np.percentile(df[column],25)

nan

In [48]:
cieling

9.25

In [49]:
IQR

3.7

In [20]:
df['CreditRating'].dtype

dtype('O')

In [18]:
df

,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,PercChangeMinutes,PercChangeRevenues,DroppedCalls,BlockedCalls,...,IncomeGroup,OwnsMotorcycle,AdjustmentsToCreditRating,HandsetPrice,MadeCallToRetentionTeam,CreditRating,PrizmCode,Occupation,MaritalStatus,Churn
0,39.79,234.0,55.0,0.25,0.0,1.7,31.0,8.8,6.7,0.7,...,0,0,0,NaN,0,2-High,Suburban,Other,NaN,0
1,60.19,551.0,60.0,0.74,0.0,0.3,-88.0,-10.2,2.7,32.7,...,7,0,0,150,0,2-High,Suburban,Crafts,Yes,0
2,85.41,642.0,28.0,0.25,134.0,0.0,129.0,22.8,29.7,0.0,...,4,0,0,NaN,0,2-High,Suburban,Crafts,No,0
3,30.18,281.0,30.0,0.00,0.0,0.0,132.0,-0.2,4.0,0.0,...,3,0,0,150,0,3-Good,Suburban,Other,NaN,1
4,179.29,1459.0,95.0,0.50,118.0,48.6,-1360.0,-77.0,21.7,11.0,...,4,0,0,NaN,0,3-Good,Rural,Other,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40832,19.36,18.0,17.0,0.00,0.0,4.5,-18.0,-9.4,0.0,0.0,...,4,0,0,NaN,0,1-Highest,Town,Professional,Yes,1
40833,50.30,140.0,50.0,0.00,0.0,0.0,-77.0,-0.3,1.3,3.0,...,6,0,0,NaN,0,1-Highest,Suburban,Professional,Yes,0
40834,15.73,713.0,10.0,1.73,0.0,0.0,-143.0,0.2,4.0,55.0,...,0,0,0,NaN,0,3-Good,Suburban,Other,NaN,1
40835,80.69,504.0,50.0,0.00,77.0,0.0,48.0,-30.7,1.7,0.7,...,6,0,0,NaN,0,4-Medium,Suburban,Other,No,0
40836,112.30,452.0,60.0,1.73,0.0,60.6,8.0,-60.3,5.3,6.0,...,9,0,0,NaN,0,1-Highest,Town,Other,Yes,0

In [27]:
keep = []
ctr = 0
for column in df.columns:
    if column != 'Churn' and df[column].dtype != 'O' and df[column].isna().sum()==0:
        ctr = ctr +1
        corr,pval = stats.pearsonr(df[column],df['Churn'])
        if pval < 0.05:
            keep.append(column)
        print("'{column}' has correlation of '{corr}' and pvalue of '{pval}'".format(column=column,corr=corr,pval=pval))

'DroppedCalls' has correlation of '-0.011167481292322685' and pvalue of '0.02402404343156852'
'BlockedCalls' has correlation of '-0.0016046471551263654' and pvalue of '0.7457411592368848'
'UnansweredCalls' has correlation of '-0.026583584246899772' and pvalue of '7.750609881805638e-08'
'CustomerCareCalls' has correlation of '-0.03639019189142973' and pvalue of '1.895005121617658e-13'
'ThreewayCalls' has correlation of '-0.02292103413909096' and pvalue of '3.6147272304875197e-06'
'ReceivedCalls' has correlation of '-0.034594409761860255' and pvalue of '2.695017048938619e-12'
'OutboundCalls' has correlation of '-0.028511524441999336' and pvalue of '8.280269784415914e-09'
'InboundCalls' has correlation of '-0.029482312244569264' and pvalue of '2.5386740465029045e-09'
'PeakCallsInOut' has correlation of '-0.036757094737760426' and pvalue of '1.0841859426930269e-13'
'OffPeakCallsInOut' has correlation of '-0.035883069336565064' and pvalue of '4.063647075666847e-13'
'DroppedBlockedCalls' has correlation of '-0.008079346554074546' and pvalue of '0.10253958083537464'
'CallForwardingCalls' has correlation of '0.00026183835418545714' and pvalue of '0.9578027305574809'
'CallWaitingCalls' has correlation of '-0.022040232761173666' and pvalue of '8.415492692284626e-06'
'MonthsInService' has correlation of '0.022822974298853667' and pvalue of '3.9773152842868e-06'
'UniqueSubs' has correlation of '0.04115243796717358' and pvalue of '8.839276139973799e-17'
'ActiveSubs' has correlation of '0.01220640899177066' and pvalue of '0.013636156102720658'
'ChildrenInHH' has correlation of '0.0075090870136029055' and pvalue of '0.12915972866960707'
'HandsetRefurbished' has correlation of '0.031175989997028072' and pvalue of '2.949028937845703e-10'
'HandsetWebCapable' has correlation of '-0.061120944785602635' and pvalue of '4.164500283169157e-35'
'TruckOwner' has correlation of '-0.004440092180770115' and pvalue of '0.3695918334254338'
'RVOwner' has correlation of '-0.004203456971916535' and pvalue of '0.39564799455918137'
'Homeownership' has correlation of '-0.01381407976345262' and pvalue of '0.0052444906929914'
'BuysViaMailOrder' has correlation of '-0.022580831824735526' and pvalue of '5.028042024031024e-06'
'RespondsToMailOffers' has correlation of '-0.023594504886520592' and pvalue of '1.855707187378071e-06'
'OptOutMailings' has correlation of '-0.003000133365776065' and pvalue of '0.544345596860734'
'NonUSTravel' has correlation of '-0.004514101777776063' and pvalue of '0.36166663619827155'
'OwnsComputer' has correlation of '-0.0021290769900238465' and pvalue of '0.6670248904558532'
'HasCreditCard' has correlation of '-0.009662244511857597' and pvalue of '0.05087314474784839'
'RetentionCalls' has correlation of '0.06441921806601669' and pvalue of '8.144646801465123e-39'
'RetentionOffersAccepted' has correlation of '0.03762774226996102' and pvalue of '2.819721784286473e-14'
'NewCellphoneUser' has correlation of '-0.008022174076378358' and pvalue of '0.10499388524829727'
'NotNewCellphoneUser' has correlation of '0.011510997991350809' and pvalue of '0.02000961594972897'
'ReferralsMadeBySubscriber' has correlation of '-0.008052043705679492' and pvalue of '0.10370588538435337'
'IncomeGroup' has correlation of '-0.015814443764004694' and pvalue of '0.001393900206900269'
'OwnsMotorcycle' has correlation of '0.006429691683328829' and pvalue of '0.19384220603326024'
'AdjustmentsToCreditRating' has correlation of '-0.016154842199387467' and pvalue of '0.0010957599763452882'
'MadeCallToRetentionTeam' has correlation of '0.06679592867483788' and pvalue of '1.3122675816535558e-41'

In [29]:
keep

['DroppedCalls',
 'UnansweredCalls',
 'CustomerCareCalls',
 'ThreewayCalls',
 'ReceivedCalls',
 'OutboundCalls',
 'InboundCalls',
 'PeakCallsInOut',
 'OffPeakCallsInOut',
 'CallWaitingCalls',
 'MonthsInService',
 'UniqueSubs',
 'ActiveSubs',
 'HandsetRefurbished',
 'HandsetWebCapable',
 'Homeownership',
 'BuysViaMailOrder',
 'RespondsToMailOffers',
 'RetentionCalls',
 'RetentionOffersAccepted',
 'NotNewCellphoneUser',
 'IncomeGroup',
 'AdjustmentsToCreditRating',
 'MadeCallToRetentionTeam']